@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");
/* CUSTOM PROPERTIES */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --hue-color: 242;
  --color-primary: hsl(var(--hue-color), 92%, 26%);
  --color-success: hsl(165, 100%, 37%);
  --color-warning: hsl(44, 100%, 50%);
  --color-danger: hsl(0, 58%, 79%);
  --color-danger-variant: hsl(357, 77%, 58%);
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(0, 18%, 97%);
  --color-black: hsl(0, 0%, 0%);
  --color-bg: hsl(0, 60%, 89%);
  --color-bg1: hsl(var(--hue-color), 38%, 29%);
  --color-bg2: hsl(var(--hue-color), 37%, 41%);
  --container-width-lg: 80%;
  --container-width-mid: 85%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --transition: all 0.4s ease;
}

body.dark-theme {
  /* HSL color mode */
  --color-bg: hsl(var(--hue-color), 50%, 21%);
  --color-bg2: hsl(var(--hue-color), 38%, 29%);
  --color-primary: hsl(0, 0%, 100%);
  --color-light: hsl(var(--hue-color), 37%, 41%);
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-primary);
  background: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-primary);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: transparent;
  color: var(--color-primary);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-bg1);
  color: var(--color-white);
}

.btn-muted {
  background: var(--color-danger-variant);
  color: var(--color-black);
}
/* BEGINING OF NAVBAR */

nav {
  background: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a {
  font-size: 0.9rem;
  font-weight: 400;
  transition: var(--transition);
}

.nav__menu a:hover,
.nav__menu .active a {
  font-weight: 700;
}

#open-menu-btn,
#close-menu-btn {
  color: var(--color-primary);
}

.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

nav.window-scroll a {
  color: var(--color-light);
}

.window-scroll #open-menu-btn,
.window-scroll #close-menu-btn {
  color: var(--color-light);
}

.active {
  font-weight: 800;
}
/* END OF NAVBAR */

/* BEGINING OF HEADER */

header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: auto;
  margin-bottom: 10rem;
  margin-top: 2rem;
  min-height: 54vh;
  align-content: center;
  display: grid;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p {
  margin: 1rem 0 2.4rem;
}

/* END OF header */

/* FOOTER SECTION */

footer {
  background: var(--color-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
  color: var(--color-white);
}

footer a {
  color: var(--color-white);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

.footer__1 p {
  margin: 0 0 2rem;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer__copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}
/* END OF FOOTER SECTION  */

/* SIGNIN FORM */

.container.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.image img {
  margin-top: 15rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input {
  width: 100%;
  padding: 1rem;
  background: var(--color-white);
  color: var(--color-primary);
  border-radius: 0.2rem;
}

input[type="radio"] {
  width: min-content;
}

.signin__form button {
  background: var(--color-danger);
  color: var(--color-primary);
  width: 100%;
}

.signin__container {
  background: var(--color-bg2);
  padding: 4rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  max-width: 80vw;
  height: auto;
  margin: 8rem auto 3rem;
  border-radius: 1rem;
}

a.blue {
  color: var(--color-bg);
}

.text {
  color: var(--color-white);
}

.text i {
  color: var(--color-primary);
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.remember-me {
  display: inline-flex;
  gap: 1rem;
  justify-content: center;
}

input[type="checkbox"] {
  transform: scale(1.5);
  accent-color: var(--color-white);
}

.container.signup.form {
  align-items: flex-start;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
.signup .image {
  position: sticky;
  top: 5rem;
  left: 0;
}

@media screen and (max-width: 1500px) {
  /* SIGNIN FORM */

  .container.form {
    grid-template-columns: 1fr;
  }
  .image {
    display: none;
  }
  .container.signup.form {
    grid-template-columns: 1fr;
  }
}

/* TABLET SIZE MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p,
  a {
    font-size: 0.9rem;
  }
  /* NAVBAR */
  nav button {
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }
  nav button#close-menu-btn {
    display: none;
  }
  .nav__menu {
    position: fixed;
    top: 5rem;
    left: 0%;
    height: max-content;
    width: 100vw;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__menu li {
    width: 100%;
    height: 4rem;
    animation: animateNavItems 0.4s linear forwards;
    transform-origin: top right;
    opacity: 0;
  }
  .nav__menu li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav__menu li:nth-child(3) {
    animation-delay: 0.4s;
  }
  .nav__menu li:nth-child(4) {
    animation-delay: 0.6s;
  }
  @keyframes animateNavItems {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  .nav__menu li a {
    background: var(--color-primary);
    color: var(--color-light);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover {
    background: var(--color-bg2);
  }
  /* HEADER */
  header {
    height: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  .header__container {
    gap: 2rem;
    padding-bottom: 3rem;
  }
  .footer__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  /* SIGNIN */
  .signin__container {
    max-width: 80vw;
    padding: 2rem 2rem;
  }

  form {
    gap: 0.8rem;
    width: 100%;
  }

  input {
    padding: 0.8rem;
  }
  label {
    font-size: 0.8rem;
  }
  p,
  a {
    font-size: 0.9rem;
  }

  .row {
    gap: 1rem;
  }

  /* SIGNIN new */
}

@media screen and (max-width: 800px) {
  nav.window-scroll {
    display: none;
  }
}

/* MOBILE SIZE MEDIA QUERY */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  p,
  a {
    font-size: 0.7rem;
  }

  .btn {
    padding: 0.8rem 1.2rem;
  }

  /* HEADER */
  header {
    height: auto;
    padding-top: 1rem;
  }
  .header__container {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }
  .header__left p {
    margin-bottom: 1.3rem;
  }
  .header__right-image {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  /* FOOTER */
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
  .footer__1 p {
    margin: 0.5rem auto;
  }
  .footer__socials {
    justify-content: center;
  }

  /* SIGNIN */
  body {
    line-height: normal;
  }
  .signin__container {
    max-width: 100%;

    padding: 2rem 1rem;
  }

  form {
    gap: 0.6rem;
  }

  input {
    padding: 0.7rem;
  }
  label {
    font-size: 0.8rem;
  }
  p,
  a {
    font-size: 0.85rem;
  }
  small {
    font-size: 0.6rem;
  }
  .row {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (max-width: 450px) {
  /* SIGNIN */
  .signin__container {
    width: 100%;
  }
}
